<%- include ("./partials/head.ejs") %>

<body class="hobbymap">
    <%- include ("./partials/header.ejs") %>
    <main>
        <div id="hobbyMap" class="wrapper">
            <h1>Hobby map</h1>
            <div id="map"></div>
        </div>
        <noscript>
            <style>
                #hobbyMap {
                    display: none;
                }
            </style>
            <%- include ("./partials/latlonform.ejs") %>
        </noscript>
    </main>
    <%- include ("./partials/footer.ejs") %>
    <%- include ("./partials/map-scripts.ejs") %>
</body>

</html>