<%- include ("./partials/head.ejs") %>
<body class="profilepage">
<%- include ("./partials/header.ejs") %>
    <main>
        <h1>Profile overview</h1>
        <section>
            <article>
                <div>
                    <img src="/assets/name.svg" alt="name of the user"/>
                    <p><%= item.name %></p>
                </div>
                <p>Name</p>
            </article>

            <article>
                <div>
                    <img src="/assets/<%= item.selecthobby %>.svg" alt="<%= item.selecthobby %>"/>
                    <p><%= item.selecthobby %></p>
                </div>
                <p>Hobby</p>
            </article>

            <article>
                <div>
                    <img src="/assets/region.svg" alt="region of the user"/>
                    <p><%= item.region %></p>
                </div>
                <p>Region</p>
            </article>

            <article>
                <div>
                    <img src="/assets/age.svg" alt="age of the user"/>
                    <p><%= item.age %></p>
                </div>
                <p>Age</p>
            </article>
        </section>
        <a href="/userform">Edit information</a>
    </main>
<%- include ("./partials/footer.ejs") %>
