<%- include ("./partials/head.ejs") %>

<body class="mapform">
    <%- include ("./partials/header.ejs") %>
    <main>
        <% userLocations.forEach(function(item){ %>
        <div>
            <p> <%= item.name %></p>
            <p> <%= item.lon %></p>
            <p> <%= item.lat %></p>
        </div>
        <% }) %>
        <%# include ("./partials/latlonform.ejs") %>
    </main>
    <%- include ("./partials/footer.ejs") %>
</body>

</html>